.whole {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/final.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  display: flex;
  height: 93vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #FF4282;
}

.dialog {
  background-color: #282D33;
}

.outer {
  height: 300px;
  width: 550px;
  display: flex;
  flex-direction: row;
  background-color: #282D33;
  font-style: Arial, Helvetica, sans-serif;
}

.leftOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.rightOuter {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
